body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u32 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u33 {
  position:absolute;
  left:141px;
  top:569px;
  width:10px;
  height:10px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u35 {
  position:absolute;
  left:183px;
  top:569px;
  width:10px;
  height:10px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u37 {
  position:absolute;
  left:222px;
  top:569px;
  width:10px;
  height:10px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
